/* 全体の背景色 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* 背景色を変更 */
}

/* キャンバスのスタイル */
canvas {
  border-radius: 50%; /* キャンバスを丸く見せる */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 影を追加 */
}
